<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center" style="font-size: 15px;">
              
Este formulario tiene como objetivo recopilar información para mejorar la gestión local y hacerla más eficiente y cercana a la comunidad. La alcaldía descentralizada busca optimizar los servicios, hacerlos más transparentes y responder de manera más efectiva a las necesidades de los ciudadanos. Tu participación nos ayudará a mejorar la calidad de los servicios que brindamos.
              <hr />
            </h2>
          </div>

          <img
            class="img-fluid"
            style="max-width: 550px"
            src="public/imgs/nodejs.png"
            alt="WeB Developer - urian V" />
        </div>
      </div>
    </main>

    <%- include('includes/scripts') %>
  </body>
</html>
